* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	background-color:black;
	margin-top: 150px;
}

#content {
    margin: 0px auto;
    background-color:black;
    width: 720px;
    height: 720px;
}

#content-table {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	background-color: white;
	border-spacing: 0px;
	margin: 0px auto;
}

#content-table td {
	border: 1px solid black;
}

.player1 {
	background-image: url(../images/kriz.png);
	background-size: contain;
}

.player2 {
	background-image: url(../images/kol.png);
	background-size: contain;
}

.selected, .winner {
	background-color: #FFFF82;
}

.highlighted {
	background-color: #FFC5AD;
}

#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	/*background-color:rgba(0,0,0,0.3);*/
	background-color: black;
	font-size: 60px;
	color: white;
	padding: 5px;
	font-weight: bold;
}

.krizek {
	background-image: url(../images/kriz.png);
}
.kolecko {
	background-image: url(../images/kol.png);
}

.startingPosition {
	background-color: lightblue;
}

.kolecko, .krizek {
	background-size: contain;
	width: 60px;
	height: 60px;
	display: inline-block;
}