* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

.li-has-action-icon .li-action-text {
	width: calc(100% - 88px);
	height: 100%;
}

.li-has-action-icon .li-action-text::after {
	content: "";
	position: absolute;
	height: 56px;
	width: 2px;
	background-color: rgba(245, 245, 245, 1);
	right: 87px;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}
.li-has-action-icon .li-action-icon-button {
	position: absolute;
	height: 100%;
	width: 68px;
	right: 0;
	top: 0;
	-webkit-mask-size: 53px 53px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	padding: 0;
	margin: 0;
	margin-right: 20px;
}
.li-has-action-icon .li-action-icon-button.li-action-delete {
	-webkit-mask-image: url(../images/tw_list_delete_holo_dark.png);
	background-color: rgba(245, 245, 245, 1);
}

.ui-listview .li-has-action-icon.ui-li-active {
	background-color: transparent;
}

.ui-listview .li-has-action-icon.ui-li-active .li-action-text:active {
	background-color: rgba(8, 56, 94, 1);
}

.ui-listview .li-has-action-icon .li-action-icon-button:active {
	background-color: rgba(8, 56, 94, 1);
}